/* Шрифт: Geist Sans */
@font-face {
    font-family: (--font-sans);
    font-weight: 400;
    src: url('/fonts/geist-sans/Geist-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: (--font-sans);
    font-weight: 500;
    src: url('/fonts/geist-sans/Geist-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: (--font-sans);
    font-weight: 700;
    src: url('/fonts/geist-sans/Geist-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Шрифт: Geist Mono */
@font-face {
    font-family: (--font-mono);
    font-weight: 400;
    src: url('/fonts/geist-mono/GeistMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: (--font-mono);
    font-weight: 500;
    src: url('/fonts/geist-mono/GeistMono-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
