:root {
    // --- ТЕМНАЯ ТЕМА (ПО УМОЛЧАНИЮ)  ---
    --color-bg-main: #0d0e11;
    --color-bg-panel: #16181d;
    --color-bg-surface: #21242c;
    --color-text-main: #f4f4f6;
    --color-text-muted: #8b8e99;
    --color-text-disabled: #4e515a;
    --color-border: #262930;
    --color-success: #0f6;
    --color-error: #ff4a4a;
    --color-warning: #ffb700;
}

/* СВЕТЛАЯ ТЕМА */
body.light-theme {
    --color-bg-main: #fff;
    --color-text-main: #1f2328;
    --color-bg-panel: #f6f8fa;
    --color-bg-surface: #eaeef2;
    --color-text-muted: #657180;
    --color-text-disabled: #bf9595;
    --color-border: #d0d7de;
    --color-success: #1a7f37;
    --color-error: #cf222e;
}

:root {
    /* --- ТИПОГРАФИКА --- */
    --font-sans: 'Geist Sans', system-ui, -apple-system, blinkmacsystemfont, sans-serif;
    --font-mono: 'Geist Mono', monaco, consolas, monospace;

    /* --- ВЫСОТА КОМПОНЕНТОВ --- */
    --header-height: 56px;
    --footer-padding-y: var(--unit-16);

    /* НАСЫЩЕННОСТЬ ШРИФТОВ */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* РАЗМЕР ШРИФТОВ */
    --font-size-xs: 0.813rem; // ~13px (Для мета-информации, копирайта)
    --font-size-sm: 0.875rem; // ~14px (Для навигационных ссылок, кнопок)
    --font-size-base: 1rem; // ~16px (Основной текст статей и кода)
    --font-size-lg: 1.125rem; // ~18px (Подзаголовки, логотип хедера)
    --font-size-xl: 1.5rem; // ~24px (Большие заголовки секций)

    /* --- ШКАЛА ОТСТУПОВ  --- */
    --unit-1: 0.25rem; // 4px
    --unit-2: 0.5rem; // 8px
    --unit-3: 0.75rem; // 12px
    --unit-4: 1rem; // 16px
    --unit-5: 1.25rem; // 20px
    --unit-6: 1.5rem; // 24px
    --unit-8: 2rem; // 32px
    --unit-10: 2.5rem; // 40px
    --unit-12: 3rem; // 48px
    --unit-16: 4rem; // 64px
    --unit-20: 5rem; // 80px

    /* --- ИНТЕРАКТИВНОСТЬ И АНИМАЦИЯ --- */
    --transition-duration-fast: 0.15s;
    --transition-duration-main: 0.3s;
    --transition-easing-ide: cubic-bezier(0.16, 1, 0.3, 1);

    /* --- РАДИУС СКРУГЛЕНИЯ --- */
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;

    // --- СЛОИ НАЛОЖЕНИЯ  ---
    --z-index-base: 1;
    --z-index-sticky: 100;
    --z-index-sidebar: 200;
    --z-index-overlay: 500;
    --z-index-modal: 1000;
}

/* ШРИФТЫ */
@font-face {
    font-family: 'Geist Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/geist-sans/Geist-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist Sans';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/geist-sans/Geist-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/geist-sans/Geist-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist Mono';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/geist-mono/GeistMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist Mono';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/geist-mono/GeistMono-Medium.woff2') format('woff2');
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--unit-6);
}

/* ОЧИСТКА */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-bg-main);
    font-family: var(--font-sans);
    line-height: 1.5;
    color: var(--color-text-main);
    transition:
        background-color var(--transition-duration-main) var(--transition-easing-ide),
        color var(--transition-duration-main) var(--transition-easing-ide),
        border-color var(--transition-duration-main) var(--transition-easing-ide);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

.footer,
.header,
.container,
div,
span,
a {
    transition:
        background-color var(--transition-duration-main) var(--transition-easing-ide),
        color var(--transition-duration-main) var(--transition-easing-ide),
        border-color var(--transition-duration-main) var(--transition-easing-ide);
}

app-root,
app-w-footer {
    display: block;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
    max-width: 100%;
    fill: currentcolor;
}

input,
button,
textarea,
select {
    background: transparent;
    border: none;
    font: inherit;
    outline: none;
}

button {
    cursor: pointer;
    user-select: none;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
