.sidebar-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sidebar-layout__sidebar {
    width: 16rem;
    min-width: 16rem;
    flex-shrink: 0;
}

.sidebar-layout__main {
    min-width: 0;
    flex-grow: 1;
}
