# Искать настройки выше этого файла не нужно (корневой конфиг)
root = true

# Базовые настройки для всех файлов проекта
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# HTML и Angular шаблоны — пробелы, размер 2
[*.{html,component.html}]
indent_style = space
indent_size = 2

# JSON, Markdown, YAML — пробелы, размер 2
[*.{json,md,yaml,yml}]
indent_style = space
indent_size = 2

# Стили SCSS и CSS — ТАБЫ
[*.{scss,css}]
indent_style = tab
indent_size = 4
