# --- Сборка, компиляция и зависимости ---
node_modules/
dist/
build/
out-tsc/
.angular/

# --- Инфраструктура, секреты и IDE ---
.vscode/
.idea/
.DS_Store
*.log
.env
.env.*

# --- Автогенерация и Локфайлы (Их форматировать запрещено) ---
pnpm-lock.json
package-lock.json
yarn.lock

# --- Тестирование ---
coverage/
.nyc_output/
cypress/
playwright-report/

# --- Медиа и Статика (Ускоряем работу Prettier) ---
src/assets/**/*.svg
src/assets/**/*.png
src/assets/**/*.jpg
public/**/*.svg
public/**/*.ico
