# --- Артефакты сборки и тяжелые папки ---
node_modules/
dist/
build/

# --- Локальный кэш Angular и других инструментов ---
.angular/

# --- Системные файлы и логи ---
.DS_Store
*.log

# --- Автогенерируемые файлы (их форматирование сломает сборку) ---
pnpm-lock.json

# --- Результаты тестов и кастомные отчеты ---
coverage/
.nyc_output/
