{
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": false,
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,

    "trailingComma": "all",
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "bracketSameLine": false,
    "singleAttributePerLine": true,

    "overrides": [
        {
            "files": ["*.component.html", "*.html"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
