# --- Сборка и зависимости ---
node_modules/
dist/
build/
.angular/

# --- Инфраструктура и IDE ---
.vscode/
.idea/
.DS_Store
*.log
.env
.env.*

# --- Автогенерация ---
pnpm-lock.json
package-lock.json
yarn.lock

# --- Тестирование ---
coverage/
.nyc_output/
cypress/
playwright-report/
