.auth-layout {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }

    &__form {
        width: 100%;
        max-width: 420px;
        padding: 32px;
        border: 1px solid #e0e0e0;
    }
}
