<nav [class.navigation]="!isSubList()">
  <ul
    [class.navigation__list]="!isSubList()"
    [class.navigation__sub-list]="isSubList()"
    [class.navigation__list--horizontal]="orientation() === 'horizontal' && !isSubList()"
  >
    @for (element of elements(); track element.route) {
      <li class="navigation__element">
        <a
          [class.navigation__link]="!isSubList()"
          [class.navigation__sub-link]="isSubList()"
          [routerLink]="element.route"
          [routerLinkActive]="
            isSubList() ? 'navigation__sub-link--active' : 'navigation__link--active'
          "
          [routerLinkActiveOptions]="{exact: element.exact ?? false}"
        >
          @if (element.icon) {
            <span class="navigation__icon">{{ element.icon }}</span>
          }
          <span class="navigation__text">{{ element.label }}</span>
        </a>
        @if (orientation() === 'vertical' && element.children && element.children.length > 0) {
          <app-s-navigation
            [elements]="element.children"
            [orientation]="orientation()"
            [isSubList]="true"
          />
        }
      </li>
    }
  </ul>
</nav>
