<header class="header">
  <div class="container header__container">
    <!-- Логотип бренда -->
    <a
      class="header__logo"
      routerLink="/"
    >
      <span class="header__logo-icon">⚡</span>
      <span class="header__logo-text">NgAlg</span>
    </a>

    <!-- Система навигации -->
    <nav class="header__nav">
      <app-s-navigation
        orientation="horizontal"
        [elements]="menuElements()"
      />
    </nav>

    <!-- Блок оформления управления и авторизации -->
    <div class="header__actions">
      <!-- Переключатель тем -->
      <app-f-toggle-theme />

      <button
        class="header__login-btn"
        routerLink="/auth/login"
      >
        Войти
      </button>
    </div>
  </div>
</header>
