.header {
	width: 100%;
	background-color: var(--color-bg-panel);
	border-bottom: 1px solid var(--color-border);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: var(--header-height);
	}

	&__logo {
		display: flex;
		align-items: center;
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-bold);
		color: var(--color-text-main);
		gap: var(--unit-1);
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: var(--unit-4);
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: var(--unit-4);
	}

	&__login-btn {
		padding: var(--unit-2) var(--unit-4);
		background-color: var(--color-text-main);
		border: 1px solid var(--color-border);
		border-radius: var(--radius-sm);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-medium);
		color: var(--color-bg-main);
	}
}
