<header class="header">
  <div class="container header__container">
    <a
      class="header__logo"
      routerLink="/"
    >
      Landing
    </a>

    <nav class="header__nav">
      <a
        class="header__nav-link"
        routerLink="/dashboard"
      >
        Dashboard
      </a>
      <a
        class="header__nav-link"
        routerLink="/tracks"
      >
        Tracks
      </a>
      <a routerLink="/glossary">Glossary</a>
    </nav>

    <button
      class="header__login-btn"
      routerLink="/auth/login"
    >
      Войти
    </button>
  </div>
</header>
