.header {
    width: 100%;
    border-bottom: 1px solid;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
    }

    &__nav {
        display: flex;
        padding: 0 8px;
        border: 1px solid;
        gap: 8px;
    }
}
